@charset "utf-8";

.calculator {
    width:min-content;
    /* border: 1px solid black; */
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 0 5px rgb(100, 100, 100);
}

.calcDisplay {
    width: 300px;
    height: 60px;
    margin: 5px;
    text-align: right;
    border: 2px solid rgb(201, 201, 201);
    border-radius: 8px;
    font-size: 20px;
}

.calcVariableDisplay {
    margin: 0 5px;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 4px;
    width: 300px;
    height: 20px;
    text-align: center;
    font-size: 16px;
}

.calcButton {
    background-color: rgb(226, 226, 226);
    border: 0;
    font-size: 30px;
    height: 50px;
    width: 80px;
    border-radius: 0;
    /* transition-duration: 200ms; */
    color: rgb(60, 60, 60);
}

.calcButton:active{
    background-color: rgb(129, 129, 129);
    transition-duration: 200ms;
}

.calcButton:hover {
    opacity: .6;
}

.cOperand {
    background-color: rgb(52, 171, 189);
}

.cClear {
    background-color: rgb(217, 202, 140);
}

.cFunction {
    background-color: rgb(111, 178, 255);
}

.cColspan {
    width: 100%;
}

.cVariable {
    background-color: rgb(157, 253, 157);
}

.cCalc {
    background-color: rgb(255, 83, 36);
}