@charset "utf-8";

.calculator {
    /* width: 300px; */
    border: 1px solid black;
}

.calcDisplay {

}

.calcButton {
    background-color: rgb(226, 226, 226);
    border: 1px solid rgb(178, 178, 178);
    font-size: 30px;
    height: 80px;
    width: 80px;
}

.cOperand {

}

.cClear {

}