@charset "utf-8";

.contentWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    padding: 8px 0;
    width: 100%;

    /* align-items: center; */
}

.templatePanel {
    background-color: white;
    min-height: 32px;
    margin: 16px 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid gainsboro;
    box-shadow: 0 0 6px rgba(100, 100, 100, 0.2);
}

.templateBoard {
    background-color: white;
    min-height: 32px;
    margin: 16px 0;
    padding: 8px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
    box-shadow: 0 0 6px rgba(100, 100, 100, 0.2);
}

.aboutTable {
    font-size: 12px;
    opacity: 0.8;
}

.aboutTableTh {
    padding: 0 8px;
}

.date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px
}

.indentBox {
    margin-left: 16px;
    margin-bottom: 16px;
}

.imgBox {
    margin: 16px 0;
    box-shadow: inset 0 0 5px rgb(100, 100, 100);
    border-radius: 8px;
    max-width: 512px;
    overflow: hidden;
    position: relative;
}

.imgBox::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    box-shadow: inset 0 0 4px 2px rgba(0, 0, 0, 0.3);
}

.sourceViewBox {
    max-width: min-content;
    max-height: 400px;
    overflow-x: auto;
    overflow: scroll;
}

@media (max-width: 500px) {
    .sourceViewBox {
        max-width: min-content;
        max-height: 300px;
        overflow-x: auto;
        overflow: scroll;
    }
}