@charset "utf-8";

.contentWrapper {
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    padding: 8px 0;
    width: 100%;

    /* align-items: center; */
}

.templatePanel {
    background-color: white;
    min-height: 32px;
    margin: 8px 8px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid gainsboro;
}

.templateBoard {
    background-color: white;
    min-height: 32px;
    margin: 8px 0;
    padding: 8px;
    border-top: 1px solid gainsboro;
    border-bottom: 1px solid gainsboro;
}

.aboutTable {
    font-size: 12px;
    opacity: 0.8;
}

.aboutTableTh {
    padding: 0 8px;
}

.articleBox {}

.date {
    color: rgba(0, 0, 0, 0.6);
    font-size: 12px
}

.indentBox {
    margin-left: 16px;
    margin-bottom: 16px;
}

.yoko-scroll {
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.yoko-scroll::-webkit-scrollbar {
    display: none;
}

.yoko-scroll:active {
    cursor: grabbing;
}
