@charset "utf-8";

#globalHeader {
    background-color: rgb(0, 178, 198);

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
}

.headerLabel {
    display: flex;
    align-items: flex-end;

    max-width: 1024px;
    width: 100%;
}

.headerLabelContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px 0;
    line-height: 1;
}

.cumulonimbus {
    color: white;
    font-size: 32px;
    font-weight: 600;
    font-family: "Fondamento";
}

.endHeader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 86px;
}

.loupeIconBox {
    height: 32px;
    width: 32px;
}

.siteIconBox {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

#navigationTab {
    display: flex;

    width: 100%;
    background-color: rgb(0, 178, 198);
    position: sticky;
    top: -1px;
    z-index: 128;
    justify-content: center;
}

.navigationTabContainer {
    padding: 0 16px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    overflow-x: scroll;
}

.navigationTabContainer::-webkit-scrollbar {
    display: none;
}

.tabItem {
    color: white;
    opacity: 0.6;
    margin: 8px 16px 4px;
    align-items: center;
    white-space: nowrap;
    display: flex;
}

.tabItem :hover {
    color: rgb(150, 150, 150);
}

.isActive {
    opacity: 1;
    margin: 8px 16px 0;
    border-bottom: 4px solid white;
}
