@charset "utf-8";

#globalHeader {
    background-color: rgb(0, 178, 198);
    display: flex;
    justify-content: center;
    width: 100%;
}

.headerLabel {
    display: flex;
    align-items: flex-end;

    max-width: 1024px;
    width: 100%;
}

.headerLabelContainer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 12px 16px 0;
    line-height: 1;
}

.cumulonimbus {
    color: white;
    font-size: 32px;
    font-weight: 600;
    font-family: "Fondamento";
}

.endHeader {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 86px;
}

.loupeIconBox {
    height: 32px;
    width: 32px;
}

.siteIconBox {
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 8px;
}

#navigationTab {
    display: flex;
    width: 100%;
    background-color: rgb(0, 178, 198);
    position: sticky;
    top: 0;
    z-index: 128;
    justify-content: center;
    box-shadow: 0 6px 4px 0 rgba(148, 148, 148, 0.3);
}

.navigationTabContainer {
    padding: 0 16px;
    font-weight: 600;
    font-size: 14px;
    display: flex;
    overflow-x: scroll;
    max-width: 1024px;
    width: 100%;
}

.navigationTabContainer::-webkit-scrollbar {
    display: none;
}

.tabItem {
    color: white;
    opacity: 0.6;
    margin: 8px 10px 0;
    padding: 0 6px 4px;
    align-items: center;
    white-space: nowrap;
    display: flex;
    transition-duration: 180ms;
}

@media (hover: hover) {
    .tabItem:hover {
        opacity: 1;
    }
}

@media (hover: none) {
    .tabItem:active {
        opacity: 1;
    }
}

.tabItem.isActive {
    opacity: 1;
    position: relative;
}

.tabItem.isActive::after {
    background-color: white;
    border-radius: 4px 4px 0 0;
    bottom: 0;
    content: "";
    height: 4px;
    left: 0;
    position: absolute;
    right: 0;
}

.shadow {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%);
}

#searchLabel {
    display: flex;
    background-color: rgb(0, 178, 198);
    justify-content: center;
    width: 100%;

    visibility: hidden;
    height: 0;
    transition: .4s;
}

#searchLabel.active {
    visibility: visible;
    height: 34px;
    padding: 4px 0 0;
}

.searchHolder {
    max-width: 1024px;
    width: 100%;
    display: flex;
    justify-content: right;
    padding: 0 16px 0 0;
}

.searchBox {
    width: 270px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 16px;
    line-height: 1.5rem;
    outline: none;
}