@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    position: relative;
    color: black;

    appearance: none;
    -webkit-appearance: none;
    opacity: 1;
    -webkit-opacity: 1;
}

body {
    line-height: 1.8;
    display: flex;
    flex-direction: column;
    font-family: "YakuHanJP";
    background: repeating-linear-gradient(-45deg,
            rgb(235, 235, 235),
            rgb(235, 235, 235) 1px,
            rgb(240, 240, 240) 0,
            rgb(240, 240, 240) 5px);
    background-size: 1024px 1024px;

    align-items: center;
    /* width: 100%; */
}

a {
    text-decoration: none;
}

img {
    object-fit: contain;
    width: 100%;
    max-width: 512px;
}

th {
    font-weight: 100;
}

object {
    width: 100%;
    height: 100%;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: rgb(81, 81, 81);
    padding: 8px 0;
}