@charset "utf-8";

#d1 {
    display: flex;
    padding: 16px;
}

#d2 {
    width: 256px;
    height: 40px;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 4px;
    background-color: rgb(255, 242, 226);
}

#d3 {
    width: 60px;
    height: 36px;
    background-color: rgb(236, 236, 236);
    border: 1px solid black;
    border-bottom: 8px solid rgb(127, 126, 126);
    border-radius: 4px;
    transition-duration: 0.3s;
    color: black;
}

#d3:active {
    transform: translateY(7px);
    background-color: rgb(156, 156, 156);
    border-bottom: 1px solid black;
    height: 29px;
}

#d4 {
    padding-left: 16px;
    width: 64px;
    height: 40px;
}
